/* Arquivo CSS da Barra de Navegação (NavBar) */

/* Barra de Navegação (NavBar) */
.navegacao {
    width: 100%;
    height: 104px;
    display: flex;
    /* Cor do Background em HEX: #1d1d1f */
    background-color:rgba(29, 29, 31, 0.72);
    position: fixed;
    z-index: 1;
}

/* NavBar: Div para organizar o Conteúdo da NavBar */
.conteudoNavBar {
    width: 1180px;
    height: 82px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 11px 0;
    margin: 0 9.02%;
}

/* NavBar: Logo + Nome */
.logoNome {
    width: 281px;
    height: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}

/* NavBar: Caixa do Botão Cadastro */
.loginCadastro {
    width: 292px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25em;
    letter-spacing: -0.408px;
}

.botaoCadastro {
    width: 200px;
    height: 64px;
    display: flex;
    background-color: #3679f7;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

/* .botaoAzul:hover {
    background-color: #;
} */