/* Arquivo CSS da parte da página denominada "Scroll0" */

/* Div para organizar o Scroll0 */
.scroll0 {
    width: 100%;
    height: 888px;
    display: flex;
    top: 179px;
    position: relative;
}

/* Div para organizar o Conteúdo do Scroll0 */
.scroll0Conteudo {
    width: 81.96%;
    height: 888px;
    display: flex;
    top: 122px;
    margin: 0 9.02%;
}

/* Scroll0Conteúdo: Div para organizar o Texto e o Botão */
.textoBotaoBaixarApp {
    width: 675px;
    height: 331px;
    left: 130px;
    margin-top: 122px;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}

/* Scroll0Conteúdo: Texto */
.scroll0Texto {
    display: flex;
    align-items: center;
    font-size: 3em;
    letter-spacing: 0.374px;
}

/* Scroll0Conteúdo: Caixa do Botão Baixar App (Cinza) */
.botaoBaixarApp {
    width: 200px;
    height: 64px;
    display: flex;
    background-color: #262626;
    color: #BFBFBF; /* Cor do Texto */
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    letter-spacing: -0.408px;
    margin-top: 50px;
}

/* Tentei Implementar um botão que levaria o usuário para o começo da "próxima scroll" */
/* .botaoAvancar {
    width: 20px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
} */