/* Arquivo CSS da parte da página denominada "Scroll1" */

/* Div para organizar o Scroll1 */
.scroll1 {
    width: 100%;
    height: 50%;
    display: flex;
    top: -38px;
    position: relative;
    background-color: #F2F2F2;
}

/* Div para organizar o Conteúdo do Scroll1 */
.scroll1Conteudo {
    width: 978px;
    height: 847px;
    display: flex;
    margin: 169px 220px;
    color: #262626;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* Scroll1Conteúdo: Configurando h1 */
.scroll1Texto {
    text-align: center;
}