/* Arquivo CSS da parte da página denominada "Scroll2" */

/* Div para organizar o Scroll2 */
.scroll2 {
    width: 100%;
    height: 650px;
    display: flex;
    top: -38px;
    justify-content: center;
    align-items: center;
    /* margin: 0 9.02%; */
}

/* Div para organizar o Conteúdo do Scroll2 */
.scroll2Conteudo {
    width: 81.94%;
    height: 500px;
    display: flex;
    justify-content: space-between;
 }

 .scroll2Conteudo img {
     margin-right: 80px;
 }

/* Scroll2Conteudo: Div para organizar os Textos do Footer */
.textosFooter {
    width: 410px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Scroll2Conteudo: Div para organizar o Perfil do Autor */
.perfilAutor {
    width: 410px;
    height: 83px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.perfilAutor img {
    margin-right: 25px;
}

.textoPS {
    width: 410px;
    height: 83px;
    display: flex;
    align-items: center;
    margin: 40px 0;
}

.zoetrope {
    width: 410px;
    height: 83px;
    display: flex;
    align-items: center;
}

.zoetrope img {
    margin-right: 25px;
}